

<!-- REVIEWS -->
<article class="bar-three">
    <h3 class="b3-head w3-center">Reviews</h3>
</article>
<section class="reviews-section">

    {{#each reviews}}
    <div class="w3-card-4 review-box">
        <h2 class="w3-container review-card-head review-bar book-review">{{book.title}}</h2>
        <h3 class="username">Username: {{user.email}}</h3>
        <h3 class="review">Review:</h3>
        <p class="userreview">{{review}}</p>
        <img class="book-thumbnail" src="/img/placeholder.png" data-isbn="ISBN:{{book.isbn}}" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <p class="review-rating" data-rating="{{rating}}"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>
    </div>
    {{/each}}
</section>
<br />

{{> review-replacer-script}}