<div class="w3-card-4 review-box grid-item book-block" data-book-id="{{bookId}}">
    <img src="/img/placeholder.png" class="book-thumbnail" data-isbn="ISBN:{{isbn}}" />
    <p class="w3-container review-card-head review-bar">{{title}}</p>
    <p>Author: {{author}}</p>
    <p>Published: {{publicationDate}}</p>
    <p>{{numPages}} pages</p>
    <form action="/new/review" method="POST">
        <input type="hidden" name="bookId" value="{{bookId}}" />
        <button type="submit">Add Review</button>
    </form>
    <a href="/reviews/book/{{bookId}}" class="w3-button">View Reviews</a>
    <p class="star-rating" data-rating="{{review.rating}}" data-book-id="{{bookId}}"><span class="fa fa-star" data-rating="1"></span><span class="fa fa-star" data-rating="2"></span><span class="fa fa-star" data-rating="3"></span><span class="fa fa-star" data-rating="4"></span><span class="fa fa-star" data-rating="5"></span></p>
</div>
