<div class="grid-item book-block">
    <img src="/img/placeholder.png" class="book-thumbnail" data-isbn="ISBN:{{isbn}}" />
    <p>{{title}}</p>
    <p>Author: {{author}}</p>
    <p>Published: {{publicationDate}}</p>
    <p>{{numPages}} pages</p>
    <p class="star-rating" data-avg-rating="{{averageRating}}" data-book-id="{{bookId}}"><span class="fa fa-star" data-rating="1"></span><span class="fa fa-star" data-rating="2"></span><span class="fa fa-star" data-rating="3"></span><span class="fa fa-star" data-rating="4"></span><span class="fa fa-star" data-rating="5"></span></p>
    <a href="" class="add-to-library" data-book-id="{{bookId}}">Add to Library</a>
</div>
